* {
  
    padding: 0;
    margin: 0;
}

.customnav ul li {
    margin-left: 5px;
    margin-right: 5px;
    text-transform: capitalize;

}


.department {
    background-color: blue;
    color: #0e0101;

}

.dep {
    margin-left: 50px;
    background-color: #fdf900;
    padding: 20px 10px;
    text-transform: capitalize;
}

.multi li {
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
}

.multi {
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
    padding: 20px 10px;
}

.searchTerm {

    border: 3px solid skyblue;

    padding: 3px;
    border-radius: 5px 0 0 5px;

    color: skyblue;
}

.fa-cart-shopping {
    padding-left: 20px;
    font-size: 20px;
    color: skyblue;
}

.searchButton {
    width: 40px;
    background: rgb(72, 152, 184);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;

    font-size: 20px;
}

.img-box {
    margin: 4%;
    width: 60%;

}

.shipping {
    font-size: 25px;
    text-align: center;
    padding: 40px;
    text-transform: capitalize;
    color: #fff;
    background-color: #404b62;
}

.icon {
    height: 100px;
    width: 100px;
    color: orange;
    border: 5px solid blue;
    border-radius: 50%;
}

.icon-container {
    display: flex;
}

.icon-container .icon {
    padding: 30px;
    margin-right: 20px;
}

.why-buy {
    text-transform: capitalize;
    background-color: rgb(243, 241, 241);
    padding-top: 60px;
    padding-bottom: 60px;
}

#pills-tab {
    justify-content: center;
}

.brands {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

.cus-card {
    object-fit: cover;
    margin: 1px;
    width: 200px;
    height: 180px;
}

.from-our-blog {
    justify-content: space-evenly;
}

.improved {

    background-color: #404b62;
    color: white;
    text-transform: capitalize;
}

.admin-icon {
    display: flex;
    justify-content: space-evenly;
    padding: 6px;
    text-align: center;
    margin: 1px;
    background-color: #cbcdd3;
}

.what-people {
    padding: 20px;
    background-color: rgb(243, 241, 241);
    font-size: 1.5rem;
}

.quote-icon {

    font-size: 70px;
    color: orange;
}

.social-media-icons {
    padding: 40px;
    font-size: 30px;

}

ul,#home_products .d-flex{
    display: flex;
    flex-wrap: wrap;
}
ul,#product-list-3{
    display: flex;
    flex-wrap: wrap;
}
.name {

    background-color: #fff;
    height: 120px;
    padding: 10px;
    border: 1px solid black;
}

.most-viewed {

    padding: 20px;
    justify-content: center;
    background-color: #2b6dac;
}

.social-media-icons {

    background-color: var(--light-gray-color);
    padding: 40px;
}

.social-media-icons p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
li{
    list-style: none;
}
/* caraousal section */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container1{
    position: relative;
    overflow: hidden;
    margin-top: 2%;
    width: 100%;
    height: 65vh;
    
}
.color{
    
    margin-top: 2%;
}

.container .slider {
    position: absolute;
    top: -5%;
    left: 0;
    width: 500%;
    height: 100%;
    animation: animate 10s linear infinite;
}

.container .slider .slide {
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
}

.container .slider .slide .caption {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    transition: 0.5s;
}

.container .slider .slide .caption h2 {
    margin: 0 0 20;
    padding: 0;
    color: #fff;
    font-size: 48px;
    transition: 0.5s;
}

.container .slider .slide .caption p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}

.container .slider .slide .caption p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}
.container .slider .slide.slide1 {
    background: url(/assets/caraousal.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .slider .slide.slide2 {
    background: url(/assets-product/headphone.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .slider .slide.slide3 {
    background: url(/assets/fashion.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes animate {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

@media (max-width: 768px) {
    .container .slider .slide .caption {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }
    .container .slider .slide .caption h2 {
        margin: 0 0 10;
        font-size: 30px;
    }
    .container .slider .slide .caption p {
        font-size: 16px;
    }
}
.slidee.slide1 {
    background: url(/assets/home-decor.jpg);
    background-position: left;
    background-repeat: no-repeat;
    
}
.slidee.slide2 {
    background: url(/assets/home-decor.jpg);
     
    background-position: left;
    background-repeat: no-repeat;
}
.container .slidee.slide1{
    height: 30vh;
    margin-top: 11%;
    background-color: rgb(209, 209, 218);
}
.container .slidee.slide2{
    height: 32vh;
    margin-top: 4%;
    background-color: rgb(229, 229, 245);
}

/* top-part  navbar*/

@media (max-width: 768px) {

.top-nav{
    display: none;
}


}